@import "../base/mixins";
@import "../base/variables";


.menu {
  text-align: center;
  font-family: $font-rasmus;
  position: fixed;
  font-size: 7rem;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: 99;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  display: table;
  @include transition(.25s ease-in-out);
  .list {
    display: table-cell;
    vertical-align: middle;
  }
  @include media-landscape {
    font-size: 4.5rem;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fade {
  opacity: 1;
  visibility: visible;
  @include transition(.25s ease-in-out);
}

.menu-active {
  overflow: hidden !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* On index only, Display menu on index in mobile view*/

@include keyframes(bg-gradient) {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

@media (max-width: 600px) and (min-width: 0px) {
  .hamburger.index {
    display: none;
  }
  .menu.index {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    background: linear-gradient(231deg, #fdbb2d, #b21f1f, #1a2a6c, #111, #111);
    background-size: 1600% 1600%;
    -webkit-animation: bg-gradient 40s ease infinite;
    -moz-animation: bg-gradient 40s ease infinite;
    animation: bg-gradient 40s ease infinite;
  }

  #features {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 780px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .menu.index {
    font-size: 4.5rem;
    opacity: 1;
    visibility: visible;
    background: linear-gradient(231deg, #fdbb2d, #b21f1f, #1a2a6c, #111, #111);
    background-size: 1600% 1600%;
    -webkit-animation: bg-gradient 40s ease infinite;
    -moz-animation: bg-gradient 40s ease infinite;
    animation: bg-gradient 40s ease infinite;
  }
  .hamburger.index {
    display: none;
  }
}
