@import "../base/mixins";
@import "../base/variables";

$blue: #98b5cc;
$yellow: #ffcc00;
$outline: rgba(#fff, .4);
$shadow: rgba($yellow, .5);

main {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.explode span {
  position: relative;
  transition: 0.3s .1s;
  top:0;
  left:0;
}

.logo {
  display: block;
  position: fixed;
  top: 15px;
  left: 15px;
  width: 100px;
  height: auto;
  z-index: 100;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0s;
  &:hover{
    background: url('../images/studiomosaiclogo-dark.svg');
  }
  @include media-mobile {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 50px;
    height: auto;
    z-index: 100;
  }
}

@media (max-width: 768px) and (min-width: 551px) {
  .logo {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 60px;
    height: auto;
    z-index: 100;
  }
}

.studio {
  font-family: $font-rasmus;
  font-size: 6em;
  // z-index:3;
  width: 600px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 52%;
  margin-top: -80px;
  margin-left: -300px;
  @include media-mobile {
    display: none;
    z-index:-5;
  }
}​

//Wavy Text

.space {
  position: relative;
  letter-spacing: -0.3em;
  color: black;
  z-index: -99;
  opacity: 0;
}

.char {
  position:relative;
  letter-spacing: -0.3em;

  &:nth-child(8n) {
    animation: wavetext 4s 0s infinite;
    -webkit-animation: wavetext 4s 0s infinite;
  }
  &:nth-child(8n+1) {
    animation: wavetext 4s -0.5s infinite;
    -webkit-animation: wavetext 4s -0.5s infinite;
  }
  &:nth-child(8n+2) {
    animation: wavetext 4s -1s infinite;
    -webkit-animation: wavetext 4s -1s infinite;
  }
  &:nth-child(8n+3) {
    animation: wavetext 4s -1.5s infinite;
    -webkit-animation: wavetext 4s -1.5s infinite;
  }
  &:nth-child(8n+4) {
    animation: wavetext 4s -2s infinite;
    -webkit-animation: wavetext 4s -2s infinite;
  }
  &:nth-child(8n+5) {
    animation: wavetext 4s -2.5s infinite;
    -webkit-animation: wavetext 4s -2.5s infinite;
  }
  &:nth-child(8n+6) {
    animation: wavetext 4s -3s infinite;
    -webkit-animation: wavetext 4s -3s infinite;
  }
  &:nth-child(8n+7) {
    animation: wavetext 4s -3.5s infinite;
    -webkit-animation: wavetext 4s -3.5s infinite;
  }
  @include media-mobile {
    display: none;
  }
}

@keyframes wavetext {
  0%, 100% { top: 0em; } 50% { top: 0.25em; }
}
@-webkit-keyframes wavetext {
  0%, 100% { top: 0em; } 50% { top: 0.25em; }
}

// BG Gradient
.gradient {
  background: linear-gradient(231deg, #C6BABC, #111, #7FBD89, #DBC651, #111, #D4674E, #111, #975A74, #111, #111, #111);
  background-size: 1600% 1600%;
  -webkit-animation: AnimationName 80s ease infinite;
  -moz-animation: AnimationName 80s ease infinite;
  animation: AnimationName 80s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

/* Landscape */
@include media-landscape {
  .mobile-logo {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 65px;
    z-index: 100;
  }
  .studio {
    display: none;
    z-index: -5;
  }
  .char {
    display: none;
  }
}

// Index Icons
.icon-matrix {
    display: none;
  img {
    position: fixed;
    width: 80px;
    bottom: 25px;
    left: 15px;
    padding: 10px;
  }
}

.icon-arrow-down {
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: $white;
  padding: 15px;
  margin-right: 8px;
  font-size: 48px;
  z-index:1;
  animation: flicker 3s linear infinite;
}

.icon-arrow-up {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: $white;
  padding: 15px;
  margin-right: 8px;
  font-size: 48px;
  z-index:1;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: .99;
		text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
		text-shadow: none;
	}
}

/* Deco Shape */
.decoshape {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var(--background-color-3);
}

/* SVG Morph */
.morph-wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.morph {
	position: relative;
	height: 100%;
	fill: var(--background-color-2);
	flex: none;
}

.content-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	pointer-events: none;
}

.content {
	position: relative;
	display: grid;
}

.content--fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	z-index: 100;
	pointer-events: none;
	padding: 1.5em;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas:	"header ..."
							"... decotitle"
							"demos decotitle";
}

.content--fixed a {
	pointer-events: auto;
}

.content--layout {
	pointer-events: auto;
	justify-content: center;
	align-content: center;
	grid-template-columns: 150px 150px 150px 150px;
	grid-template-rows: 150px 75px 75px;
	grid-template-areas:	"... title title title"
							"author ... desc desc"
							"author ... link link";
}

.content--related {
	text-align: center;
	align-content: center;
	justify-content: center;
	padding: 0 2em;
	min-height: 600px;
	height: 100vh;
	font-size: 0.85em;
}

.content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	opacity: 0.8;
	width: 300px;
	height: 300px;
}

.content__title {
	grid-area: title;
	font-family: 'nexa_boldregular', sans-serif;
	letter-spacing: -0.025em;
	font-size: 8em;
	line-height: 160px;
	margin: 0;
	text-transform: lowercase;
	z-index: 10;
	cursor: default;
}

.content__author {
	grid-area: author;
	margin: 0;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	padding: 1em;
	text-align: right;
	z-index: 10;
	cursor: default;
}

.content__desc {
	grid-area: desc;
	margin: 0;
	z-index: 10;
	padding: 0 1em;
	cursor: default;
}

.content__img,
.content__title,
.content__author,
.content__desc {
	transition: transform 0.3s ease-out;
}

.content__link {
	pointer-events: auto;
	grid-area: link;
	align-self: end;
	justify-self: start;
	z-index: 10;
	padding: 0 1em 0.15em;
}

.content__info {
	grid-column: 1 / 3;
}

.content__related-item {
	padding: 1em;
	transition: color 0.3s;
}

.content__related-img {
	max-width: 100%;
	opacity: 0.8;
	transition: opacity 0.3s;
}

.content__related-item:hover .content__related-img,
.content__related-item:focus .content__related-img {
	opacity: 1;
}

.content__related-title {
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
}

/* Different layouts */

/* layout-2 */
.content--layout-2 {
	grid-template-areas:	"... title title title"
							"desc desc ... author"
							"link link ... author";
}

.content--layout-2 .content__img {
	grid-column: 3 / 5;
	grid-row: 1 / 3;
}

.content--layout-2 .content__desc {
	text-align: right;
}

.content--layout-2 .content__link {
	justify-self: end;
}

.content--layout-2 .content__author {
	justify-self: end;
	align-self: start;
}

/* layout-3 */
.content--layout-3 {
	grid-template-rows: 75px 75px 150px;
	grid-template-areas:	"... ... desc desc"
							"author title title title"
							"author ... link link";
}

.content--layout-3 .content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

.content--layout-3 .content__desc {
	align-self: end;
}

/* layout-4 */

.content--layout-4 {
	grid-template-areas:	"title title title desc"
							"... author ... desc"
							"... author ... link";
}

.content--layout-4 .content__img {
	grid-column: 2 / 4;
	grid-row: 1 / 3;
}

.content--layout-4 .content__author {
	justify-self: start;
	align-self: start;
}

.demo-2 {
	--background-color: #1d1b22;
	--background-color-2: #342560;
	--background-color-3: #553e9a;
	--text-color: #fff;
	--link-color: #f9ed8a;
	--link-hover-color: #fff;
}

@media screen and (max-width: 50em) {
	.content--fixed {
		height: auto;
		min-height: 0;
		display: block;
		z-index: 1000;
		position: absolute;
	}
	.codrops-header {
		align-items: center;
		flex-direction: column;
	}
	.deco--title {
		display: none;
	}
	.demos {
		text-align: center;
	}
}

@media screen and (max-width: 40em) {
	.content--layout {
		transform: scale3d(0.8,0.8,1);
	}
}

@media screen and (max-width: 36em) {
	.content--layout {
		transform: scale3d(0.7,0.7,1);
	}
}

@media screen and (max-width: 32em) {
	.content--layout {
		transform: scale3d(0.6,0.6,1);
	}
	.content__author,
	.content__desc,
	.content__link {
		font-size: 1.35em;
	}
}

@media screen and (max-width: 28em) {
	.content--layout {
		transform: scale3d(0.5,0.5,1);
	}
}
