@import "../base/mixins";
@import "../base/variables";


// Switching out album art on mobile
.resize-left {
 display: none !important;
}

.artist-name {
  opacity: .5 !important;
}

.tracklist {
  font-size: smaller;
}

@media (max-width: 550px) and (min-width: 0px) {
  .resize-left {
    display: block !important;
    margin-bottom: 1.5em;
  }
  .resize-right {
    display: none !important;
  }
  .artist-name {
    text-align: center;
  }
  .prev,.next {
    display:none !important;
  }
}

.btn-wrapper {
  text-align:right;
  font-size:larger;
  font-weight:bold;
    a {
      display: inline-block;
    }
}
