@import "../base/mixins";
@import "../base/variables";

.clicked {
color: $dark-grey;
}

.books, .musics, .events, .prints {
  text-decoration: none;
}

@media (min-width: 0px) and (max-width: 550px) {
  .work {
      width: 0;
      padding-right: 7%;
      padding-left: 14%;
      h2 {
        font-size: 5vw;
      }
  }
  .column-wrapper {
    position: fixed;
    z-index: 1;
    background-color: #111;
    width: 83%;
  }
  .work-container {
    margin-top: 7em;
  }
}
